In this notebook we will continue using our previous sales dataset `PP-L2-sales-dataset-2.csv`

In [1]:
# Load pandas and the df here
import pandas as pd
df = pd.read_csv("https://drive.google.com/u/1/uc?id=1kbCDXONvf8Bn4kEW1ssmxdJLDHC-oV-E&export=download")

In [2]:
df

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50      False
1           1     1  12/02/2010      46039.49       True
2           1     1  19/02/2010      41595.55      False
3           1     1  26/02/2010      19403.54      False
4           1     1  05/03/2010      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

[421570 rows x 5 columns]

### Sorting

We can reorder the rows (in a df) or values(in a series)

```python
df.sort_values('column_name')
df.sort_values(['column_name1', 'column_name2'])

sr.sort_values()
```

Question:

How can we sort by decending order?

Which week is the best performing week for dept 2 in store 6?

In [ ]:
# Your code here

df[
   (df['Dept'] == 2) &
   (df['Store'] == 6)
].sort_values("Weekly_Sales", ascending=False)

       Store  Dept        Date  Weekly_Sales  IsHoliday
49030      6     2  23/12/2011      79930.02      False
48978      6     2  24/12/2010      70852.88      False
49058      6     2  06/07/2012      61899.72      False
48949      6     2  04/06/2010      58382.30      False
49029      6     2  16/12/2011      58374.09      False
...      ...   ...         ...           ...        ...
48965      6     2  24/09/2010      42921.26      False
48979      6     2  31/12/2010      42151.22       True
48981      6     2  14/01/2011      41546.41      False
48982      6     2  21/01/2011      40323.09      False
48983      6     2  28/01/2011      39402.29      False

[143 rows x 5 columns]

### Aggregate functions

There are a lot of aggregation functions.  Here's some of the common ones:
```python
    series.count()
    series.sum()
    series.mean()
    series.max()
    series.min()
    series.unique()
    series.nunique()
```
Try discovering the rest of them.

**Exercise**
> Try to create some summary of the dataset:
1. What is the average weekly sales?
2. How many difference stores are there?
3. How many weeks are holidays?

In [ ]:
df['Weekly_Sales'].mean()

15981.258123467243

In [4]:
df['Store'].nunique()

45

In [ ]:
df[df['IsHoliday'] == True]['Date'].unique()

array(['12/02/2010', '10/09/2010', '26/11/2010', '31/12/2010',
       '11/02/2011', '09/09/2011', '25/11/2011', '30/12/2011',
       '10/02/2012', '07/09/2012'], dtype=object)

In [ ]:
# Type your code below
df[df['IsHoliday']]['Date'].unique()

array(['12/02/2010', '10/09/2010', '26/11/2010', '31/12/2010',
       '11/02/2011', '09/09/2011', '25/11/2011', '30/12/2011',
       '10/02/2012', '07/09/2012'], dtype=object)

### Group by

Group by is an essential feature in every table manipulation. In pandas, we use the function
```python
# Group by a particular column
df.groupby("Column name")

# Group by some custom values
df.groupby(["A", "A", "B", "A", "B",.....])

```

The function returns a `pandas.core.groupby.generic.DataFrameGroupBy object` which is an intermediate object that stores grouping information.

We must give it further aggregation instruction so that we can obtain usable information.
```python
# Follow the groupby by a sum()
df.groupby("Column name").sum()

# Follow the groupby by a max()
df.groupby("Column name").max()

# Follow the groupby by your own function
df.groupby("Column name").agg(func)

# Follow the groupby by your multiple functions
df.groupby("Column name").agg([func1, func2])

# Follow the groupby by different functions for different columns
df.groupby("Column name").agg({"col1": func1, "col2": func2})
```

Try to
1. get the sum of sales for every store
2. find the best performing store

In [ ]:
in1 = "Store"
in2 = ["Store", "Dept"]
in3 = df["Store"] == 1

df[["Store", "Dept"]]

       Store  Dept        Date  Weekly_Sales  IsHoliday
0          1     1  05/02/2010      24924.50      False
1          1     1  12/02/2010      46039.49       True
2          1     1  19/02/2010      41595.55      False
3          1     1  26/02/2010      19403.54      False
4          1     1  05/03/2010      21827.90      False
...      ...   ...         ...           ...        ...
10239      1    99  31/08/2012         20.06      False
10240      1    99  07/09/2012          0.05       True
10241      1    99  14/09/2012          0.03      False
10242      1    99  05/10/2012        635.00      False
10243      1    99  12/10/2012         80.00      False

[10244 rows x 5 columns]

In [ ]:
# Get the sum of sales for every store
df.groupby("Store")['Weekly_Sales'].sum().to_frame()

       Weekly_Sales
Store
1      2.224028e+08
2      2.753824e+08
3      5.758674e+07
4      2.995440e+08
5      4.547569e+07
6      2.237561e+08
7      8.159828e+07
8      1.299512e+08
9      7.778922e+07
10     2.716177e+08
11     1.939628e+08
12     1.442872e+08
13     2.865177e+08
14     2.889999e+08
15     8.913368e+07
16     7.425243e+07
17     1.277821e+08
18     1.551147e+08
19     2.066349e+08
20     3.013978e+08
21     1.081179e+08
22     1.470756e+08
23     1.987506e+08
24     1.940160e+08
25     1.010612e+08
26     1.434164e+08
27     2.538559e+08
28     1.892637e+08
29     7.714155e+07
30     6.271689e+07
31     1.996139e+08
32     1.668192e+08
33     3.716022e+07
34     1.382498e+08
35     1.315207e+08
36     5.341221e+07
37     7.420274e+07
38     5.515963e+07
39     2.074455e+08
40     1.378703e+08
41     1.813419e+08
42     7.956575e+07
43     9.056544e+07
44     4.329309e+07
45     1.123953e+08

In [ ]:
df[['Store', 'Dept']]

        Store  Dept
0           1     1
1           1     1
2           1     1
3           1     1
4           1     1
...       ...   ...
421565     45    98
421566     45    98
421567     45    98
421568     45    98
421569     45    98

[421570 rows x 2 columns]

In [ ]:
import numpy as np

In [ ]:
# Your code here
df.groupby("Store")[['Weekly_Sales', 'Dept']].agg({"Weekly_Sales": sum, "Dept": np.mean})

       Weekly_Sales       Dept
Store
1      2.224028e+08  44.391742
2      2.753824e+08  44.483786
3      5.758674e+07  41.038623
4      2.995440e+08  44.522975
5      4.547569e+07  41.285254
6      2.237561e+08  44.443443
7      8.159828e+07  44.343167
8      1.299512e+08  43.680344
9      7.778922e+07  40.069020
10     2.716177e+08  44.033931
11     1.939628e+08  44.564003
12     1.442872e+08  43.462030
13     2.865177e+08  44.624021
14     2.889999e+08  44.029183
15     8.913368e+07  44.024442
16     7.425243e+07  42.655936
17     1.277821e+08  43.590126
18     1.551147e+08  43.492849
19     2.066349e+08  44.921561
20     3.013978e+08  44.097611
21     1.081179e+08  43.003131
22     1.470756e+08  43.639657
23     1.987506e+08  43.952239
24     1.940160e+08  44.461967
25     1.010612e+08  43.570175
26     1.434164e+08  44.277654
27     2.538559e+08  44.467971
28     1.892637e+08  44.464748
29     7.714155e+07  43.182232
30     6.271689e+07  47.059251
31     1.996139e+08  44.551075
32     1.668192e+08  44.500196
33     3.716022e+07  46.674888
34     1.382498e+08  44.745892
35     1.315207e+08  43.504408
36     5.341221e+07  47.166988
37     7.420274e+07  46.892867
38     5.515963e+07  46.247080
39     2.074455e+08  44.730006
40     1.378703e+08  44.760307
41     1.813419e+08  44.828410
42     7.956575e+07  47.018553
43     9.056544e+07  47.096726
44     4.329309e+07  46.740271
45     1.123953e+08  43.388918

**Select the required columns for grouping**

`pandas.core.groupby.generic.DataFrameGroupBy` object allow us to select columns by using the `[['col1', 'col2]]` or the `['col']` syntax, and return a `pandas.core.groupby.generic.DataFrameGroupBy` or `pandas.core.groupby.generic.SeriesGroupBy` object

**Advanced group by**

Sometimes we need more granular control towards group by.

E.g.
1. Columns is a multi-index
2. Column values need to be binned before group

```python

# The normal
df.groupby(pd.Grouper(key="column name"))

# To group a date column with binning
df.groupby(pd.Grouper(key="column name", freq="3m"))

```

Try to
1. find the best performing quarter
- what operation do we need so that the column is treated as datetime?
- what frequency should we use?
- what other parameters should be put on the Groupby object?

In [ ]:
df.index

RangeIndex(start=0, stop=421570, step=1)

In [ ]:
df['datetime'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")

In [ ]:
report = df.groupby(pd.Grouper(key="datetime", freq="QS"))['Weekly_Sales'].sum()

In [ ]:
report.loc["2010"]

datetime
2010-01-01    3.722528e+08
2010-04-01    6.103695e+08
2010-07-01    5.974881e+08
2010-10-01    7.087757e+08
Freq: QS-JAN, Name: Weekly_Sales, dtype: float64

In [ ]:
report

datetime
2010-01-01    3.722528e+08
2010-04-01    6.103695e+08
2010-07-01    5.974881e+08
2010-10-01    7.087757e+08
2011-01-01    5.293917e+08
2011-04-01    5.979481e+08
2011-07-01    6.393585e+08
2011-10-01    6.815017e+08
2012-01-01    5.924677e+08
2012-04-01    6.182977e+08
2012-07-01    6.050058e+08
2012-10-01    1.843617e+08
Freq: QS-JAN, Name: Weekly_Sales, dtype: float64

In [ ]:
import datetime

In [ ]:
datetime.datetime.now()

datetime.datetime(2022, 6, 11, 10, 31, 23, 463730)

In [ ]:
datetime.datetime(2022, 1, 2, 3, 4, 5).strftime("%Y-%m-%d %H:%M:%S")

'2022-01-02 03:04:05'

**Binning**

Very often we need to put values into bins.  

While the `pd.Grouper(freq="")` functionality is designed for time, we have `pd.cut()` to create bins for regular numbers.

Each bin will have equal length.

```python
df.groupby(pd.cut(series, bins=100)).count()
```

*Histogram*: Binning and counting is essentially the basic for creating a histogram.

Pandas provide an easier method for that

```python
series.hist(bins=100)
```

Try:
    
Binning the weekly sales column, and visualise it.

In [ ]:
### Your code here

**Group by for Series**

For series, we do not have separated columns as the group by column and the value columns, so we need extra values to group by.

```python
series.groupby(["A", "A", "B", "A", "B",.....])
```

**Short cut**

We have an equivalent for `series.groupby(series).count()`


```python
series.value_counts()
```